<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>582732412296-0ebl204vk413llpnnnar686abrpafgpq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.582732412296-0ebl204vk413llpnnnar686abrpafgpq</string>
	<key>API_KEY</key>
	<string>AIzaSyBX88OgVDF7b7MFm08NE5PMAYWW7djKujw</string>
	<key>GCM_SENDER_ID</key>
	<string>582732412296</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.ramazon.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios-13-9c6e6</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios-13-9c6e6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:582732412296:ios:25c45cd6b5b3577842f63d</string>
</dict>
</plist>